<html>
  <head>
      <link rel="stylesheet" type="text/css" href="/static/flexboxgrid.min.css">
      <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
      <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">
              <h1>Prolific Authors</h1>
              <ul>
                {% for author_name, count in counts %}
                  <li>
                    <a style="font-size:14px;" href='/works/?author={{author_name}}'>{{author_name}}</a>
                    <span>{{count}}</span>
                  </li>
                {% endfor %}
              </ul>
          </div>
          <div class="col-xs-3"></div>
      </div>
  </body>
</html>