<html>
  <head>
      <link rel="stylesheet" type="text/css" href="/static/flexboxgrid.min.css">
      <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
      <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">
              <h1>{{publication.title}} <a style="font-size:14px;" href='{{publication.id}}'>Link</a></h1>
              <ul>
                    {% for a in publication.authors %}
                      <li>Author: <a style="font-size:14px;" href='/works/?author={{a.name}}'>{{a.name}}</a></li>
                    {% endfor %}
              </ul>
              <div>{{publication.summary}}</div>
          </div>
          <div class="col-xs-3"></div>
      </div>
  </body>
</html>