<html>
  <head>
      <link rel="stylesheet" type="text/css" href="/static/flexboxgrid.min.css">
      <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
      <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">
            <h1> What's New </h1>
            <ul>
              {% for t in topics %}
                <li>
                  <span class='topic-tag'>Published: {{t.published}}</span>
                  <h3>
                    <a style='text-decoration:none;' href='/publication/?author={{t.author}}&publication_url={{t.id}}'>{{t.title}}</a>
                  </h3>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-xs-3"></div>
      </div>
  </body>
</html>