<html>
  <head>
      <link rel="stylesheet" type="text/css" href="/static/flexboxgrid.min.css">
      <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
      <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">
              <h1>Publications by {{author_name}}</h1>
              <ul>
                    {% for w in works %}
                      <li><a style="font-size:14px;" href='/publication/?author={{author}}&publication_url={{w.id}}'>{{w.title}}</a></li><br/>
                    {% endfor %}
              </ul>
          </div>
          <div class="col-xs-3"></div>
      </div>
  </body>
</html>